@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.header {
    background-color: transparent;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    transition: all 0.5s ease-in-out;
    /* box-shadow: 2px 2px 3px #0066b1; */
    
}
.active{
    background-color: #333333c4;
}
.header__logo{
    max-height: calc(100% - 9px);
    padding-bottom: 1px;
}
.logo__img{
    height: 80px;
    width: 150px;
    border-radius: 5px;
}
.header__navbar{
    font-family:'Anton', sans-serif;
    font-weight: 400;
    max-height: var(--header-height);
    width :100%;
    display:flex;
}
.navbar{
    height: var(--header-height);
} 
.navbar__list{
    margin: 0;
    min-height: 100%;
    list-style-type: none;
    display: inline-flex;
    font-size: 16px;
    padding-left: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: space-between;
   
    
}
.navbar__list-item{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: var(--header-height);

}
.navbar__list-item-link{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 0 2px;
}
.navbar__list-item-link::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
    
}
.navbar__list-item-link:hover:before{
    width: 100%;

}

.header__right{
    min-height: var(--header-height); 
    position: relative;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;

}
.header__search{
    min-width: calc(--header-height);
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
    right: 30%;
}

input.input__search{
    
    border-radius: 8px;
    font-size: 16px;
    max-width: 150px !important;
    display: inline-block;
    /* display: none; */
}
.header__search-icon{
    max-width: 30px;
    padding-top: 3px;
    padding-left: 2px;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;

}



.header__login{
    /* margin-left: 30px; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
   margin-right: 10px;
    

}
.header__login a {
    
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    right: 0;
    max-width: 100%;
    margin-right: 2px;
}
#banner{
    max-width: 100%;
    padding-top:50%;
    background: url('../img/free-banner.jpg') top center / cover no-repeat;
    position: relative
}
.banner__content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__title{
  font-size: 2.6rem;
  font-family: 'Anton', sans-serif;
  font-weight: 300;
    color: Crimson;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  
}
@keyframes example {
    0% {color:gray;}
    25% {color: LightSalmon;}
    50% {color: pink;}
    100% {color: ghostwhite;}
  }
.banner__description{
    font-size: 1.6rem;
    top: 50%;
    left: 12%;
    color: white;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 2px;
}
.w3-animate-bottom{
    transition: 0.2 ;
}
.main-container{
    min-height: 500px;
    /* background-color: #fff; */
}
.first-container{
    margin-top: 30px;
    --background-first: #fff;
    background-color: var(--background-first);
}
.second-container.grid{
    padding-top: 30px;
    --background-second:#333;
    background-color: #333;
    color:#fff;
}

.container{
    /* min-height: 50px;
    min-width: 50px; */
    padding: 80px 0 0;
    
}

.container__title{
    display: block;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
.container__description{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin-top: 5px;
}
.general-news.row{
    max-width: 100%;
    min-height: 430px;
    background-color: #fff;
    margin: 12px auto 0;
}
.content-left-side{
    min-width: 100%;
    min-height: 100%;
    padding: 20px 15px;
    background-color: var(--background-first);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.content-right-side{
    min-width: 100%;
    min-height: 100%;
    background-color: var(--background-first);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-news{
    min-width: 100%;
    max-height: 430px;
    /* background-color: #fff; */
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.new-title{
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
div.item{
    background-color: white;
}
div.owl-theme .owl-nav{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}
div.owl-theme .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.box-news__slides{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transition: opacity 0.25s linear;
}
.box-news__slides:hover {
    opacity: 0.9;
}
.box-news__content{
    position: absolute;
    left: 19%;
    z-index: 3;
    transform: translateX(-15%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 90%;
    max-width: 90%;
    height: 85%;
    max-height: 85%;
    margin: 0 auto;
    background-color: transparent;
    
}
.post-date{
    max-width: 90%;
    /* position: absolute;
    top: 0;
    right: 50%; */
    /* transform: translateX(-50%); */
    width: 90%;
    text-align: center;
    color: #000;
    background-color: transparent;
    text-shadow: 0 0 3px #000;
    
}
/* .post-title-box{
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    
} */
.post-title{
    max-width: 100%;
    font-family: 'Arial', Helvetica, sans-serif ;
    width: 100%;
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0 auto;
    color: #000;
    text-shadow: 0 0 3px #000;
    background-color: none;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
     animation-name: example;
     animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
.box-news__button{
    /* position: absolute; */
    margin: 0 auto;
    width: 110px;
    height: 37px;

}
.post-open-btn{
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 50;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #000;
    background-color: #0000009e;
    opacity: 0.8;
    cursor: pointer;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
     animation-name: example;
     animation-duration: 8s;
    animation-iteration-count: infinite;
}
.post-open-btn:hover{
    opacity: 1;
    border: 1px solid red;
}
.box-news__content-img {
    max-width: 100%;
    margin: 0 auto;
    width: 500px;
    height: 334px;
    max-height: 100%;
    border: 1px solid blue;
    border-radius: 5%;

}
.item:hover .box-news__content-img {
    border-color: red;
}
.box-news__details{
    position: absolute;
    bottom: 0;
    z-index: 50;
    left: 50%;
    border: none;
    background-color: transparent;
    /* margin-top: 10px; */
    width: 120px;
    height: 25px;
    cursor: pointer;
}
.moving-slide-btn{
    width: 30px;
    font-size: 28px;
    line-height: 28px;
    border:none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
}
.box-news__slides:hover .moving-slide-btn{
    opacity: 0.5;
}
.moving-slide-btn.prev-slide-btn{
    position: absolute;
    z-index: 100;
    top: 51%;
    transform: translateY(-50%);
    left: 0 !important;
    opacity: 0.3;
    transition: opacity 0.25s linear;
}
.moving-slide-btn.next-slide-btn{
    z-index: 100;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    right: 0 !important;
    opacity: 0.3;
    transition: opacity 0.25s linear;
}
.moving-slide-btn:hover.next-slide-btn{
    opacity: 0.9;
}
.open-item-list{
    margin: 10px auto;
    border: none;
    background-color: transparent;
    /* margin-top: 10px; */
    width: 120px;
    height: 25px;
    cursor: pointer;
}
.open-item-list:hover{
    color: red;
}
.footer{
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 80px;
    background-color: #333
}

