/* tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .header{
        max-width: 100%;
    }
    .navbar{
        margin-left: 30px;
    }
    .content-left-side, 
    .content-right-side{
        min-width: 75%;
        min-height: 75%;
    }
    
    .box-news__content{
        left: 19%;
    }
    .post-date{
        
        font-size:1.3rem;;
    } 
    .post-title{
        margin-top: 25px;
        font-size: 1.8rem;
    }
    .box-news__button{
        margin-left: 22%;
    }

    .post-open-btn{
        bottom: 25%;
        left: 35%
    }
}
/* mobile */
@media screen and (max-width: 46.1875em){
    .header{
        height: 51px;
    }
    .logo__img{
        height: 50px ;
        width: 75px;
    }
    .banner__title{
        font-size: 1.8rem;
    }
    .banner__description{
        font-size: 0.8rem;
    }
    .box-news__content{
        height: 65%;
    }
    .post-open-btn{
        bottom: 28%;
    }
    
}
/* @media screen and (min-width: 64em) {
    .box-news__content-img{
        max-width: 100%;
    }
} */
